<app-navbar></app-navbar>
<section class="section">
  <div class="container">  
    <div class="columns">
      <div class="column is-4 is-offset-4">
        <div class="card">
          <div class="card-header">
            <div class="card-header-title">
              Add Plaza
            </div>
          </div>
          <div class="card-content" *ngIf="road">
            <!-- <p id="subtitle">Selected Road is :</p>
            <p id="subtitle-2">{{road.start}} - {{road.end}}</p>
            <p id="subtitle-2">{{road.road_id}}</p>
            <hr> -->
            <p id="subtitle" style="text-transform: capitalize;">Add Plaza for {{road.road_id}} ( {{road.start}} - {{road.end}} )</p>
            <form #addplazaform="ngForm" class="form has-text-centered">
              <p>
                <mat-form-field appearance="legacy" style="width: 70%;">
                  <mat-label>Plaza Name</mat-label>
                  <input
                    matInput
                    placeholder="Eg. Khopoli Plaza"
                    name="plazaname"
                    [(ngModel)]="plazaName"
                    #plname="ngModel"
                    required
                  />
                  <mat-error *ngIf="plname.touched && plname.invalid">
                    Field cannot be empty.
                  </mat-error>
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="legacy" style="width: 70%;">
                  <mat-label>Plaza Location</mat-label>
                  <input
                    matInput
                    placeholder="Eg. Khopoli"
                    name="plazaloc"
                    [(ngModel)]="plazaLocation"
                    #ploc="ngModel"
                    required
                  />
                  <mat-error *ngIf="ploc.touched && ploc.invalid">
                    Field cannot be empty.
                  </mat-error>
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="legacy" style="width: 70%;">
                  <mat-label>Email</mat-label>
                  <input
                    type="email"
                    matInput
                    placeholder="Eg. John@doe.com"
                    name="plazamail"
                    [(ngModel)]="email"
                    #mail="ngModel"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                    required
                  />
                  <mat-error *ngIf="mail.touched && mail.invalid">
                    <mat-error *ngIf="mail.errors.required">
                      Please enter an email.
                    </mat-error>
                    <mat-error *ngIf="mail.errors.pattern">
                      Invalid email format.
                    </mat-error>
                  </mat-error>
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="legacy" style="width: 70%;">
                  <mat-label>Password</mat-label>
                  <input
                    type="password"
                    matInput
                    matTooltipPosition="above"
                    matTooltip="Must contain minimum 8 characters
                      Must contain one uppercase letter
                      Must contain one lowercase letter
                      Must contain one special character"
                    name="authoritypwd"
                    pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$"
                    [(ngModel)]="password"
                    #pwd="ngModel"
                    required
                  />
                  <mat-error *ngIf="pwd.touched && pwd.invalid">
                    <mat-error *ngIf="pwd.errors.required">
                      Please enter a password.
                    </mat-error>
                    <mat-error *ngIf="pwd.errors.pattern">
                      Invalid password format.
                    </mat-error>
                  </mat-error>
                </mat-form-field>
              </p>
    
              <button
                class="button is-link "
                type="reset"
                id="addauth"
                [disabled]="addplazaform.invalid"
                (click)= "addNewPlaza()"
              >
                Add Plaza
              </button>
            </form>

          </div>
        </div>
        <div class="notification is-danger mt-2" id="fail">
          <button class="delete" (click)="removeNotification()"></button>
           Try again! Something is wrong.
           Your plaza name should be unique.
        </div>
        <div class="notification is-success mt-2" id="success">
          <button class="delete" (click)="removeNotification()"></button>
          Added plaza successfully. 
        </div>
      </div>
    </div>
  </div>
</section>
