#main-title{
  font-family: 'product-sans';
  font-size: 30px;
}
.card-header-title{
  font-family: 'product-sans';
  font-size: 35px;
  padding: 30px;
}
#subtitle{
  font-family: 'product-sans';
  font-size: 18px;
}
#subtitle-2{
  font-family: 'product-sans';
  font-size: 15px;
}
.card{
  box-shadow: 10px 10px 20px black;
  border-radius: 20px;
}
.notification{
  display: none;
}